<h1>Listing productbs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>String</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @productbs.each do |productb| %>
      <tr>
        <td><%= productb.title %></td>
        <td><%= productb.string %></td>
        <td><%= productb.description %></td>
        <td><%= productb.image_url %></td>
        <td><%= productb.price %></td>
        <td><%= link_to 'Show', productb %></td>
        <td><%= link_to 'Edit', edit_productb_path(productb) %></td>
        <td><%= link_to 'Destroy', productb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Productb', new_productb_path %>
